.leftPanel {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.875rem;
    justify-content: space-between;
    background-color: #f9f9f9;
    grid-area: chatHistory;
}

.topContent {
    padding-right: 0.5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}