.homePage {
    height: 100%;
    box-sizing: border-box;
    padding: 0px 15%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    column-gap: 20px;
    align-content: center;
    /*grid-template-rows: 40% repeat(3, 5rem);*/
}

.chatInputAndTitle {
    grid-column: 1 / -1;
    align-self: flex-end;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title {
    grid-column: 1 / -1;
    font-family: 'Urbanist', sans-serif;
    font-size: 42px;
    font-weight: 500;
    color: #0F4B4D;
}