.leftPanel {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.topContent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.appTitle {
    color: #0F4B4D;
    align-self: flex-start;
}